{% extends "base.html" %}

{% set tweet_text %}
    Tweets generated through machine learning using tweets from a congressman&apos;s own party.
    <br><br>
    These tweets are fake and do not represent the views nor beliefs of the person they are credited to.
    <br><br>
    <a href="http://samschultheis.com">#PersonalWebsite</a>
{% endset %}

{% block content %}
    {{ tweet('Sam Schultheis',
             '@Sam_Schultheis',
             tweet_text,
             url_for('static', filename= 'imgs/samschultheis.jpg'),
             'Sam Schultheis profile picture',
             current_time,
             currrent_date,
             retweets,
             likes) }}
{% endblock %}
