{% macro mk_tweet(tweet) -%}
    <article class="tweet {{ tweet['party']|lower }}" aria-labelledby="name" aria-describedby="description">
        <header class="tweet-header">
            <div class="profile-img">
                {% set img = 'imgs/thumbs/' + tweet['handle'] + '.jpg' %}
                <img src="{{ url_for('static', filename=img) }}" alt="{{ tweet['name'] }} profile picture" width="48" loading="lazy">
            </div>
            <div class="tweet-info">
                <span class="name" id="name">{{ tweet['name'] }}</span>
                <span class="handle">@{{ tweet['handle'] }}</span>
            </div>
        </header>
        <div class="text" id="description">
            <p>{{ tweet['tweet']|safe }}</p>
        </div>
        <time><span class="time">{{ tweet['time'] }}</span>{{ tweet['date'] }}</time>
        <footer class="tweet-footer">
            <span class="retweets"><span class="fas fa-retweet" aria-label="Retweets"></span>{{ tweet['retweets'] }}</span>
            <span class="likes"><span class="far fa-heart" aria-label="Likes"></span>{{ tweet['likes'] }}</span>
        </footer>
    </article>
{%- endmacro %}
