{% extends "base.html.j2" %}

{% block content %}
    <section class="single-tweet">
        {{ mk_tweet([{
                'id': None,
                'tweet': msg,
                'name': 'Sam Schultheis',
                'handle': 'SamSchultheis',
                'party': 'Democratic',
                'retweets': rand_retweets,
                'likes': rand_likes,
                'time': current_time,
                'date': current_date}]) }}
        </section>
{% endblock %}
