{% extends 'index.html.j2' %}

{% block stream %}
    <script src="{{ url_for('static', filename= 'js/script.js') }}"></script>
    <section id="stream" class="tweet-tiles" aria-label="Tweet feed in tiled format">{{ mk_tweet(tweets) }}</section>
{% endblock %}
